/* Global styling */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;

}
/* Variables */
:root{
--color-primary:#e21b70;
--color-white:#ffff
}
/* Resusable btn */
.btn{
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 6px 40px;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    font-style: normal;
    font-variant: normal;
}
body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-weight: 300px;
 }
nav{
    height: 60px;
    background-color:#ffff ;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    position: sticky;
    top: 0px;
    z-index:1390;

}
.img1{
    float: left;
    height: 100px;
    width: 100px;
    
}
.img2, .img3{
    justify-content: center;
    height:100px;
}
.card{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: left;
     margin: 16px;
}   
